body {
  background-color: #eee;
}

canvas {
  background-color: white;
}

#canvas-cover {
  position: absolute;
  background-color: black;
  /* opacity controlled from js */
}

.text-overlay {
  user-select: none;
  position: absolute;
  top: 350px;
  /* left position is set for every msg from js */
  text-align: center;

  padding: 14px;
  background-color: rgba(255, 255, 255, 0.2);

  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.text-overlay.resetting {
  color: white;
  background-color: black;
  padding: 0;
}

#text-measure-helper {
  display: none;
}
